.App {
  padding: 1.4rem;
  margin: 2rem 1rem;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background-repeat: no-repeat;
}

@media (min-width: 700px) {
  .App {
    padding: 5%;
    padding-top: 2rem;
  }
}

@media (min-width: 2000px) {
  .App {
    max-width: 1440px;
    display: block;
    margin: 2rem auto;
  }
}
